.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}
.w-full{
    width:100%;
}
.pin {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.z-20{
    z-index:20;
}
