.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.pin {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.z-20{
    z-index:20;
}
